---
import Layout from "../layouts/Layout.astro";
import HeroSlider from "../components/HomeSlider/index.astro";
import { Image } from "astro:assets";
import giftCard from "../../public/images/gift-card.jpg";
import makeChocolate from "../../public/images/how_to_make_chocolate.jpg";
import slider1 from "../../public/images/slider1.jpg";
import waffle from "../../public/images/waffle.jpg";
import coffee from "../../public/images/coffee.jpg";
---

<Layout title="Cacao Route - Chocolatier">
  <main class="home">
    <HeroSlider />
    <div class="products">
      <div class="container">
        <h3 class="title">Our Product</h3>
        <div class="swiper products-slider products-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="card">
                <img
                  src="/images/product-image.webp"
                  class="card-image"
                  alt=""
                />
                <h3 class="card_title">38% Oat milk hot chocolate flakes</h3>
                <p class="card_description">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                  Veniam aliquid dolores maiores a repudiandae ex quas hic
                  tempora dolore
                </p>
                <div class="card_button">Get In the Shop</div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card">
                <img
                  src="/images/product-image.webp"
                  class="card-image"
                  alt=""
                />
                <h3 class="card_title">38% Oat milk hot chocolate flakes</h3>
                <p class="card_description">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                  Veniam aliquid dolores maiores a repudiandae ex quas hic
                  tempora dolore
                </p>
                <div class="card_button">Get In the Shop</div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card">
                <img
                  src="/images/product-image.webp"
                  class="card-image"
                  alt=""
                />
                <h3 class="card_title">38% Oat milk hot chocolate flakes</h3>
                <p class="card_description">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                  Veniam aliquid dolores maiores a repudiandae ex quas hic
                  tempora dolore
                </p>
                <div class="card_button">Get In the Shop</div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card">
                <img
                  src="/images/product-image.webp"
                  class="card-image"
                  alt=""
                />
                <h3 class="card_title">38% Oat milk hot chocolate flakes</h3>
                <p class="card_description">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                  Veniam aliquid dolores maiores a repudiandae ex quas hic
                  tempora dolore
                </p>
                <div class="card_button">Get In the Shop</div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card">
                <img
                  src="/images/product-image.webp"
                  class="card-image"
                  alt=""
                />
                <h3 class="card_title">38% Oat milk hot chocolate flakes</h3>
                <p class="card_description">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                  Veniam aliquid dolores maiores a repudiandae ex quas hic
                  tempora dolore
                </p>
                <div class="card_button">Get In the Shop</div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card">
                <img
                  src="/images/product-image.webp"
                  class="card-image"
                  alt=""
                />
                <h3 class="card_title">38% Oat milk hot chocolate flakes</h3>
                <p class="card_description">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                  Veniam aliquid dolores maiores a repudiandae ex quas hic
                  tempora dolore
                </p>
                <div class="card_button">Get In the Shop</div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card">
                <img
                  src="/images/product-image.webp"
                  class="card-image"
                  alt=""
                />
                <h3 class="card_title">38% Oat milk hot chocolate flakes</h3>
                <p class="card_description">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                  Veniam aliquid dolores maiores a repudiandae ex quas hic
                  tempora dolore
                </p>
                <div class="card_button">Get In the Shop</div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card">
                <img
                  src="/images/product-image.webp"
                  class="card-image"
                  alt=""
                />
                <h3 class="card_title">38% Oat milk hot chocolate flakes</h3>
                <p class="card_description">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                  Veniam aliquid dolores maiores a repudiandae ex quas hic
                  tempora dolore
                </p>
                <div class="card_button">Get In the Shop</div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card">
                <img
                  src="/images/product-image.webp"
                  class="card-image"
                  alt=""
                />
                <h3 class="card_title">38% Oat milk hot chocolate flakes</h3>
                <p class="card_description">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                  Veniam aliquid dolores maiores a repudiandae ex quas hic
                  tempora dolore
                </p>
                <div class="card_button">Get In the Shop</div>
              </div>
            </div>
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </div>
      </div>
    </div>
    <div class="popular-menu">
      <div class="container">
        <h3 class="title">
          our menu <span>popular menu</span>
        </h3>
        <div class="card-container">
          <div class="card">
            <h3 class="card_title">Hot Chocolate</h3>
            <p class="card_description">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur,
              sed.
            </p>
            <span class="card_price">$8.99</span>
          </div>
          <div class="card">
            <h3 class="card_title">Hot Chocolate</h3>
            <p class="card_description">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur,
              sed.
            </p>
            <span class="card_price">$8.99</span>
          </div>
          <div class="card">
            <h3 class="card_title">Hot Chocolate</h3>
            <p class="card_description">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur,
              sed.
            </p>
            <span class="card_price">$8.99</span>
          </div>
          <div class="card">
            <h3 class="card_title">Hot Chocolate</h3>
            <p class="card_description">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur,
              sed.
            </p>
            <span class="card_price">$8.99</span>
          </div>
          <div class="card">
            <h3 class="card_title">Hot Chocolate</h3>
            <p class="card_description">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur,
              sed.
            </p>
            <span class="card_price">$8.99</span>
          </div>
        </div>
        <div class="see-all-menu">See All Menu</div>
      </div>
    </div>
    <div id="about" class="about">
      <div class="container">
        <h3 class="title">Our Story</h3>
        <p class="text">
          As a family owned business, Cacao Route maintains a promise to produce
          quality hot chocolate and goods. All of our products are made from
          high-quality, ethically sourced chocolate, with our signature hot
          chocolates made from pure melted chocolate. Our commitment to quality
          doesn’t stop there. We also offer a range of sweet products such as
          fondues and souffles, as well as freshly baked savoury waffles and
          pastries. Early comers are even treated to the aroma of pastries as
          they bake.
        </p>
      </div>
    </div>
    <div class="category">
      <div class="container">
        <div class="card">
          <p class="text">Coffee</p>
          <Image src={coffee} alt="Coffee" width={400} height={400} />
        </div>
        <div class="card">
          <p class="text">Sweat</p>
          <Image src={waffle} alt="Belguim Waffle" width={400} height={400} />
        </div>
        <div class="card">
          <p class="text">Hot Chocolate</p>
          <Image src={slider1} alt="Hot Chocolate" width={400} height={400} />
        </div>
        <div class="advertisement-card col-2 how-to-make-chocolate">
          <div class="text">
            <p>Homemade</p>
            <p class="description">Craft your own indulgent hot chocolate.</p>
            <a href="" class="button">Get Make a Chocolate</a>
          </div>
          <Image width={400} src={makeChocolate} alt="how to make chocolate" />
        </div>
        <div class="advertisement-card gift-card">
          <div class="text">
            <p>
              Be the hero of sweet moments, get your card, and claim your free
              chocolate
            </p>
            <p>You can also request it at the till</p>
          </div>
          <Image src={giftCard} alt="gift card" width={400} height={400} />
        </div>
      </div>
    </div>
  </main>
</Layout>

<script
  src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"
  is:inline></script>
<script is:inline>
  const productsSlider = new Swiper(".products-slider", {
    slidesPerView: 2,
    spaceBetween: 30,
    loop: true,
    breakpoints: {
      768: {
        slidesPerView: 3,
        spaceBetween: 30,
      },
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
  });
</script>
